/*
TYPOGRAPHY
============
*/
/*
COLOURS
============
*/
/*
LAYOUT
============
*/
.container {
  padding-left: 15%;
  padding-right: 15%;
}

.header {
  padding: 128px 5% 5% 15%;
}
.header h1 {
  line-height: 1;
  margin: 0;
}
.header h3 {
  line-height: 1;
}

body {
  margin: 0;
  overflow-x: hidden;
}

body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

h1 {
  font-size: 128px;
}

h2 {
  font-size: 64px;
}

h3 {
  font-size: 48px;
}

h4 {
  font-size: 32px;
}

h5 {
  font-size: 24px;
}

h6 {
  font-size: 16px;
}

@media screen and (max-width: 756px) {
  h1 {
    font-size: 102.4px;
  }

  h2 {
    font-size: 51.2px;
  }

  h3 {
    font-size: 38.4px;
  }

  h4 {
    font-size: 25.6px;
  }

  h5 {
    font-size: 19.2px;
  }

  h6 {
    font-size: 12.8px;
  }
}
@media screen and (max-width: 512px) {
  h1 {
    font-size: 64px;
  }

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 16px;
  }

  h5 {
    font-size: 12px;
  }

  h6 {
    font-size: 8px;
  }
}
.navbar {
  background-color: black;
  position: sticky;
  padding: 10px 20px;
}
.navbar ul {
  list-style-type: none;
}
.navbar ul > li {
  padding: 10px 7.5px;
  display: inline;
  color: white;
}
.navbar li > a, .navbar .navbar-link, .navbar li > a:visited {
  color: white;
  text-decoration: none;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.navbar li > a:hover {
  color: white;
  font-stretch: expanded;
}
@media screen and (max-width: 700px) {
  .navbar {
    padding: 20px 0;
  }
  .navbar ul > li {
    width: 100%;
    display: block;
  }
}
.button, input[type=submit], .button-8, .button-7, .button-6, .button-5, .button-4, .button-3, .button-2, .button-1 {
  background: black;
  color: #fff;
  box-shadow: none;
  border: none;
}

.button-1 {
  padding: 2px 4px;
}

.button-2 {
  padding: 4px 8px;
}

.button-3 {
  padding: 6px 12px;
}

.button-4 {
  padding: 8px 16px;
}

.button-5 {
  padding: 10px 20px;
}

.button-6 {
  padding: 12px 24px;
}

.button-7 {
  padding: 14px 28px;
}

.button-8 {
  padding: 16px 32px;
}

.button-primary-1 {
  border: none;
  background-color: white;
}

.button-primary-2 {
  border: none;
  background-color: white;
}

.button-primary-3 {
  border: none;
  background-color: white;
}

.button-primary-4 {
  border: none;
  background-color: white;
}

.button-primary-5 {
  border: none;
  background-color: white;
}

.button-primary-6 {
  border: none;
  background-color: white;
}

.button-primary-7 {
  border: none;
  background-color: white;
}

.button-primary-8 {
  border: none;
  background-color: white;
}

.button-secondary-1 {
  border: none;
  background-color: black;
}

.button-secondary-2 {
  border: none;
  background-color: black;
}

.button-secondary-3 {
  border: none;
  background-color: black;
}

.button-secondary-4 {
  border: none;
  background-color: black;
}

.button-secondary-5 {
  border: none;
  background-color: black;
}

.button-secondary-6 {
  border: none;
  background-color: black;
}

.button-secondary-7 {
  border: none;
  background-color: black;
}

.button-secondary-8 {
  border: none;
  background-color: black;
}

.button-hotpink-1 {
  border: none;
  background-color: rgba(237, 28, 69, 0.85);
}

.button-hotpink-2 {
  border: none;
  background-color: rgba(237, 28, 69, 0.85);
}

.button-hotpink-3 {
  border: none;
  background-color: rgba(237, 28, 69, 0.85);
}

.button-hotpink-4 {
  border: none;
  background-color: rgba(237, 28, 69, 0.85);
}

.button-hotpink-5 {
  border: none;
  background-color: rgba(237, 28, 69, 0.85);
}

.button-hotpink-6 {
  border: none;
  background-color: rgba(237, 28, 69, 0.85);
}

.button-hotpink-7 {
  border: none;
  background-color: rgba(237, 28, 69, 0.85);
}

.button-hotpink-8 {
  border: none;
  background-color: rgba(237, 28, 69, 0.85);
}

.button-blue-1 {
  border: none;
  background-color: #1269ff;
}

.button-blue-2 {
  border: none;
  background-color: #1269ff;
}

.button-blue-3 {
  border: none;
  background-color: #1269ff;
}

.button-blue-4 {
  border: none;
  background-color: #1269ff;
}

.button-blue-5 {
  border: none;
  background-color: #1269ff;
}

.button-blue-6 {
  border: none;
  background-color: #1269ff;
}

.button-blue-7 {
  border: none;
  background-color: #1269ff;
}

.button-blue-8 {
  border: none;
  background-color: #1269ff;
}

.button-orange-1 {
  border: none;
  background-color: #f78432;
}

.button-orange-2 {
  border: none;
  background-color: #f78432;
}

.button-orange-3 {
  border: none;
  background-color: #f78432;
}

.button-orange-4 {
  border: none;
  background-color: #f78432;
}

.button-orange-5 {
  border: none;
  background-color: #f78432;
}

.button-orange-6 {
  border: none;
  background-color: #f78432;
}

.button-orange-7 {
  border: none;
  background-color: #f78432;
}

.button-orange-8 {
  border: none;
  background-color: #f78432;
}

.button-white-1 {
  border: none;
  background-color: #fff;
}

.button-white-2 {
  border: none;
  background-color: #fff;
}

.button-white-3 {
  border: none;
  background-color: #fff;
}

.button-white-4 {
  border: none;
  background-color: #fff;
}

.button-white-5 {
  border: none;
  background-color: #fff;
}

.button-white-6 {
  border: none;
  background-color: #fff;
}

.button-white-7 {
  border: none;
  background-color: #fff;
}

.button-white-8 {
  border: none;
  background-color: #fff;
}

.bg-primary {
  background-color: white !important;
}

.bg-secondary {
  background-color: black !important;
}

.bg-hotpink {
  background-color: rgba(237, 28, 69, 0.85) !important;
}

.bg-blue {
  background-color: #1269ff !important;
}

.bg-orange {
  background-color: #f78432 !important;
}

.bg-white {
  background-color: #fff !important;
}

.text-primary {
  color: white !important;
}

.text-secondary {
  color: black !important;
}

.text-hotpink {
  color: rgba(237, 28, 69, 0.85) !important;
}

.text-blue {
  color: #1269ff !important;
}

.text-orange {
  color: #f78432 !important;
}

.text-white {
  color: #fff !important;
}

.button, input[type=submit], .button-1, .button-2, .button-3, .button-4, .button-5, .button-6, .button-7, .button-8 {
  background: black;
  color: #fff;
  box-shadow: none;
  border: none;
}

.button-1 {
  padding: 2px 4px;
}

.button-2 {
  padding: 4px 8px;
}

.button-3 {
  padding: 6px 12px;
}

.button-4 {
  padding: 8px 16px;
}

.button-5 {
  padding: 10px 20px;
}

.button-6 {
  padding: 12px 24px;
}

.button-7 {
  padding: 14px 28px;
}

.button-8 {
  padding: 16px 32px;
}

.button-primary-1 {
  border: none;
  background-color: white;
}

.button-primary-2 {
  border: none;
  background-color: white;
}

.button-primary-3 {
  border: none;
  background-color: white;
}

.button-primary-4 {
  border: none;
  background-color: white;
}

.button-primary-5 {
  border: none;
  background-color: white;
}

.button-primary-6 {
  border: none;
  background-color: white;
}

.button-primary-7 {
  border: none;
  background-color: white;
}

.button-primary-8 {
  border: none;
  background-color: white;
}

.button-secondary-1 {
  border: none;
  background-color: black;
}

.button-secondary-2 {
  border: none;
  background-color: black;
}

.button-secondary-3 {
  border: none;
  background-color: black;
}

.button-secondary-4 {
  border: none;
  background-color: black;
}

.button-secondary-5 {
  border: none;
  background-color: black;
}

.button-secondary-6 {
  border: none;
  background-color: black;
}

.button-secondary-7 {
  border: none;
  background-color: black;
}

.button-secondary-8 {
  border: none;
  background-color: black;
}

.button-hotpink-1 {
  border: none;
  background-color: rgba(237, 28, 69, 0.85);
}

.button-hotpink-2 {
  border: none;
  background-color: rgba(237, 28, 69, 0.85);
}

.button-hotpink-3 {
  border: none;
  background-color: rgba(237, 28, 69, 0.85);
}

.button-hotpink-4 {
  border: none;
  background-color: rgba(237, 28, 69, 0.85);
}

.button-hotpink-5 {
  border: none;
  background-color: rgba(237, 28, 69, 0.85);
}

.button-hotpink-6 {
  border: none;
  background-color: rgba(237, 28, 69, 0.85);
}

.button-hotpink-7 {
  border: none;
  background-color: rgba(237, 28, 69, 0.85);
}

.button-hotpink-8 {
  border: none;
  background-color: rgba(237, 28, 69, 0.85);
}

.button-blue-1 {
  border: none;
  background-color: #1269ff;
}

.button-blue-2 {
  border: none;
  background-color: #1269ff;
}

.button-blue-3 {
  border: none;
  background-color: #1269ff;
}

.button-blue-4 {
  border: none;
  background-color: #1269ff;
}

.button-blue-5 {
  border: none;
  background-color: #1269ff;
}

.button-blue-6 {
  border: none;
  background-color: #1269ff;
}

.button-blue-7 {
  border: none;
  background-color: #1269ff;
}

.button-blue-8 {
  border: none;
  background-color: #1269ff;
}

.button-orange-1 {
  border: none;
  background-color: #f78432;
}

.button-orange-2 {
  border: none;
  background-color: #f78432;
}

.button-orange-3 {
  border: none;
  background-color: #f78432;
}

.button-orange-4 {
  border: none;
  background-color: #f78432;
}

.button-orange-5 {
  border: none;
  background-color: #f78432;
}

.button-orange-6 {
  border: none;
  background-color: #f78432;
}

.button-orange-7 {
  border: none;
  background-color: #f78432;
}

.button-orange-8 {
  border: none;
  background-color: #f78432;
}

.button-white-1 {
  border: none;
  background-color: #fff;
}

.button-white-2 {
  border: none;
  background-color: #fff;
}

.button-white-3 {
  border: none;
  background-color: #fff;
}

.button-white-4 {
  border: none;
  background-color: #fff;
}

.button-white-5 {
  border: none;
  background-color: #fff;
}

.button-white-6 {
  border: none;
  background-color: #fff;
}

.button-white-7 {
  border: none;
  background-color: #fff;
}

.button-white-8 {
  border: none;
  background-color: #fff;
}

input[type=text], input[type=password] {
  border: 1px solid black;
  width: 55%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

textarea {
  border: 1px solid black;
  width: 55%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

/*# sourceMappingURL=styles.css.map */
