/*
TYPOGRAPHY
============
*/
/*
COLOURS
============
*/
/*
LAYOUT
============
*/
/*
COMPONENTS
============
 */
.container {
  padding: 5% 15%;
}

.header {
  padding: 128px 5% 5% 15%;
}
.header h1 {
  line-height: 1;
  margin: 0;
}
.header h3 {
  line-height: 1;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.column, .column-100, .column-80, .column-66, .column-60, .column-50, .column-33, .column-40, .column-25, .column-20 {
  order: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 5%;
  padding-right: 5%;
}

.column-20 {
  width: 20%;
}

.column-25 {
  width: 25%;
}

.column-40 {
  width: 40%;
}

.column-33 {
  width: 33.3333333333%;
}

.column-50 {
  width: 50%;
}

.column-60 {
  width: 60%;
}

.column-66 {
  width: 66.6666666667%;
}

.column-80 {
  width: 80%;
}

.column-100 {
  width: 100%;
}

@media screen and (max-width: 756px) {
  .column-20 {
    width: 50%;
  }

  .column-25 {
    width: 50%;
  }

  .column-40 {
    width: 50%;
  }

  .column-33 {
    width: 50%;
  }

  .column-50 {
    width: 50%;
  }

  .column-60 {
    width: 100%;
  }

  .column-66 {
    width: 100%;
  }

  .column-80 {
    width: 100%;
  }

  .column-100 {
    width: 100%;
  }
}
@media screen and (max-width: 512px) {
  .column-20 {
    width: 100%;
  }

  .column-25 {
    width: 100%;
  }

  .column-40 {
    width: 100%;
  }

  .column-33 {
    width: 100%;
  }

  .column-50 {
    width: 100%;
  }

  .column-60 {
    width: 100%;
  }

  .column-66 {
    width: 100%;
  }

  .column-80 {
    width: 100%;
  }

  .column-100 {
    width: 100%;
  }
}
body {
  margin: 0;
  overflow-x: hidden;
}

body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

h1 {
  font-size: 128px;
}

h2 {
  font-size: 64px;
}

h3 {
  font-size: 48px;
}

h4 {
  font-size: 32px;
}

h5 {
  font-size: 24px;
}

h6 {
  font-size: 16px;
}

@media screen and (max-width: 756px) {
  h1 {
    font-size: 102.4px;
  }

  h2 {
    font-size: 51.2px;
  }

  h3 {
    font-size: 38.4px;
  }

  h4 {
    font-size: 25.6px;
  }

  h5 {
    font-size: 19.2px;
  }

  h6 {
    font-size: 12.8px;
  }
}
@media screen and (max-width: 512px) {
  h1 {
    font-size: 64px;
  }

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 16px;
  }

  h5 {
    font-size: 12px;
  }

  h6 {
    font-size: 8px;
  }
}
.navbar, .navbar-sticky {
  background-color: black;
  padding: 10px 20px;
}
.navbar ul, .navbar-sticky ul {
  list-style-type: none;
}
.navbar ul > li, .navbar-sticky ul > li {
  padding: 10px 7.5px;
  display: inline;
  color: white;
}
.navbar li > a, .navbar-sticky li > a, .navbar .navbar-link, .navbar-sticky .navbar-link, .navbar li > a:visited, .navbar-sticky li > a:visited {
  color: white;
  text-decoration: none;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.navbar li > a:hover, .navbar-sticky li > a:hover {
  color: white;
  font-stretch: expanded;
}
@media screen and (max-width: 700px) {
  .navbar, .navbar-sticky {
    padding: 20px 0;
  }
  .navbar ul > li, .navbar-sticky ul > li {
    width: 100%;
    display: block;
  }
}
.navbar-sticky {
  position: sticky;
  top: 0;
}

.button, input[type=submit], .button-8, .button-7, .button-6, .button-5, .button-4, .button-3, .button-2, .button-1 {
  background: black;
  color: #fff;
  border: none;
}

.button-1 {
  padding: 1px 2px;
}

.button-2 {
  padding: 2px 4px;
}

.button-3 {
  padding: 3px 6px;
}

.button-4 {
  padding: 4px 8px;
}

.button-5 {
  padding: 5px 10px;
}

.button-6 {
  padding: 6px 12px;
}

.button-7 {
  padding: 7px 14px;
}

.button-8 {
  padding: 8px 16px;
}

.button-primary-1 {
  border: none;
  background-color: white;
}

.button-primary-2 {
  border: none;
  background-color: white;
}

.button-primary-3 {
  border: none;
  background-color: white;
}

.button-primary-4 {
  border: none;
  background-color: white;
}

.button-primary-5 {
  border: none;
  background-color: white;
}

.button-primary-6 {
  border: none;
  background-color: white;
}

.button-primary-7 {
  border: none;
  background-color: white;
}

.button-primary-8 {
  border: none;
  background-color: white;
}

.button-secondary-1 {
  border: none;
  background-color: black;
}

.button-secondary-2 {
  border: none;
  background-color: black;
}

.button-secondary-3 {
  border: none;
  background-color: black;
}

.button-secondary-4 {
  border: none;
  background-color: black;
}

.button-secondary-5 {
  border: none;
  background-color: black;
}

.button-secondary-6 {
  border: none;
  background-color: black;
}

.button-secondary-7 {
  border: none;
  background-color: black;
}

.button-secondary-8 {
  border: none;
  background-color: black;
}

.button-hotpink-1 {
  border: none;
  background-color: rgba(237, 28, 69, 0.85);
}

.button-hotpink-2 {
  border: none;
  background-color: rgba(237, 28, 69, 0.85);
}

.button-hotpink-3 {
  border: none;
  background-color: rgba(237, 28, 69, 0.85);
}

.button-hotpink-4 {
  border: none;
  background-color: rgba(237, 28, 69, 0.85);
}

.button-hotpink-5 {
  border: none;
  background-color: rgba(237, 28, 69, 0.85);
}

.button-hotpink-6 {
  border: none;
  background-color: rgba(237, 28, 69, 0.85);
}

.button-hotpink-7 {
  border: none;
  background-color: rgba(237, 28, 69, 0.85);
}

.button-hotpink-8 {
  border: none;
  background-color: rgba(237, 28, 69, 0.85);
}

.button-blue-1 {
  border: none;
  background-color: #1269ff;
}

.button-blue-2 {
  border: none;
  background-color: #1269ff;
}

.button-blue-3 {
  border: none;
  background-color: #1269ff;
}

.button-blue-4 {
  border: none;
  background-color: #1269ff;
}

.button-blue-5 {
  border: none;
  background-color: #1269ff;
}

.button-blue-6 {
  border: none;
  background-color: #1269ff;
}

.button-blue-7 {
  border: none;
  background-color: #1269ff;
}

.button-blue-8 {
  border: none;
  background-color: #1269ff;
}

.button-orange-1 {
  border: none;
  background-color: #f78432;
}

.button-orange-2 {
  border: none;
  background-color: #f78432;
}

.button-orange-3 {
  border: none;
  background-color: #f78432;
}

.button-orange-4 {
  border: none;
  background-color: #f78432;
}

.button-orange-5 {
  border: none;
  background-color: #f78432;
}

.button-orange-6 {
  border: none;
  background-color: #f78432;
}

.button-orange-7 {
  border: none;
  background-color: #f78432;
}

.button-orange-8 {
  border: none;
  background-color: #f78432;
}

.button-white-1 {
  border: none;
  background-color: #fff;
}

.button-white-2 {
  border: none;
  background-color: #fff;
}

.button-white-3 {
  border: none;
  background-color: #fff;
}

.button-white-4 {
  border: none;
  background-color: #fff;
}

.button-white-5 {
  border: none;
  background-color: #fff;
}

.button-white-6 {
  border: none;
  background-color: #fff;
}

.button-white-7 {
  border: none;
  background-color: #fff;
}

.button-white-8 {
  border: none;
  background-color: #fff;
}

.button-red-1 {
  border: none;
  background-color: #ff220f;
}

.button-red-2 {
  border: none;
  background-color: #ff220f;
}

.button-red-3 {
  border: none;
  background-color: #ff220f;
}

.button-red-4 {
  border: none;
  background-color: #ff220f;
}

.button-red-5 {
  border: none;
  background-color: #ff220f;
}

.button-red-6 {
  border: none;
  background-color: #ff220f;
}

.button-red-7 {
  border: none;
  background-color: #ff220f;
}

.button-red-8 {
  border: none;
  background-color: #ff220f;
}

.button-rounded-1 {
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
}

.button-rounded-2 {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.button-rounded-3 {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.button-rounded-4 {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.button-rounded-5 {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.button-rounded-6 {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.button-rounded-7 {
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}

.button-rounded-8 {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

.bg-primary {
  background-color: white !important;
}

.bg-secondary {
  background-color: black !important;
}

.bg-hotpink {
  background-color: rgba(237, 28, 69, 0.85) !important;
}

.bg-blue {
  background-color: #1269ff !important;
}

.bg-orange {
  background-color: #f78432 !important;
}

.bg-white {
  background-color: #fff !important;
}

.bg-red {
  background-color: #ff220f !important;
}

.text-primary {
  color: white !important;
}

.text-secondary {
  color: black !important;
}

.text-hotpink {
  color: rgba(237, 28, 69, 0.85) !important;
}

.text-blue {
  color: #1269ff !important;
}

.text-orange {
  color: #f78432 !important;
}

.text-white {
  color: #fff !important;
}

.text-red {
  color: #ff220f !important;
}

.button, input[type=submit], .button-1, .button-2, .button-3, .button-4, .button-5, .button-6, .button-7, .button-8 {
  background: black;
  color: #fff;
  border: none;
}

.button-1 {
  padding: 1px 2px;
}

.button-2 {
  padding: 2px 4px;
}

.button-3 {
  padding: 3px 6px;
}

.button-4 {
  padding: 4px 8px;
}

.button-5 {
  padding: 5px 10px;
}

.button-6 {
  padding: 6px 12px;
}

.button-7 {
  padding: 7px 14px;
}

.button-8 {
  padding: 8px 16px;
}

.button-primary-1 {
  border: none;
  background-color: white;
}

.button-primary-2 {
  border: none;
  background-color: white;
}

.button-primary-3 {
  border: none;
  background-color: white;
}

.button-primary-4 {
  border: none;
  background-color: white;
}

.button-primary-5 {
  border: none;
  background-color: white;
}

.button-primary-6 {
  border: none;
  background-color: white;
}

.button-primary-7 {
  border: none;
  background-color: white;
}

.button-primary-8 {
  border: none;
  background-color: white;
}

.button-secondary-1 {
  border: none;
  background-color: black;
}

.button-secondary-2 {
  border: none;
  background-color: black;
}

.button-secondary-3 {
  border: none;
  background-color: black;
}

.button-secondary-4 {
  border: none;
  background-color: black;
}

.button-secondary-5 {
  border: none;
  background-color: black;
}

.button-secondary-6 {
  border: none;
  background-color: black;
}

.button-secondary-7 {
  border: none;
  background-color: black;
}

.button-secondary-8 {
  border: none;
  background-color: black;
}

.button-hotpink-1 {
  border: none;
  background-color: rgba(237, 28, 69, 0.85);
}

.button-hotpink-2 {
  border: none;
  background-color: rgba(237, 28, 69, 0.85);
}

.button-hotpink-3 {
  border: none;
  background-color: rgba(237, 28, 69, 0.85);
}

.button-hotpink-4 {
  border: none;
  background-color: rgba(237, 28, 69, 0.85);
}

.button-hotpink-5 {
  border: none;
  background-color: rgba(237, 28, 69, 0.85);
}

.button-hotpink-6 {
  border: none;
  background-color: rgba(237, 28, 69, 0.85);
}

.button-hotpink-7 {
  border: none;
  background-color: rgba(237, 28, 69, 0.85);
}

.button-hotpink-8 {
  border: none;
  background-color: rgba(237, 28, 69, 0.85);
}

.button-blue-1 {
  border: none;
  background-color: #1269ff;
}

.button-blue-2 {
  border: none;
  background-color: #1269ff;
}

.button-blue-3 {
  border: none;
  background-color: #1269ff;
}

.button-blue-4 {
  border: none;
  background-color: #1269ff;
}

.button-blue-5 {
  border: none;
  background-color: #1269ff;
}

.button-blue-6 {
  border: none;
  background-color: #1269ff;
}

.button-blue-7 {
  border: none;
  background-color: #1269ff;
}

.button-blue-8 {
  border: none;
  background-color: #1269ff;
}

.button-orange-1 {
  border: none;
  background-color: #f78432;
}

.button-orange-2 {
  border: none;
  background-color: #f78432;
}

.button-orange-3 {
  border: none;
  background-color: #f78432;
}

.button-orange-4 {
  border: none;
  background-color: #f78432;
}

.button-orange-5 {
  border: none;
  background-color: #f78432;
}

.button-orange-6 {
  border: none;
  background-color: #f78432;
}

.button-orange-7 {
  border: none;
  background-color: #f78432;
}

.button-orange-8 {
  border: none;
  background-color: #f78432;
}

.button-white-1 {
  border: none;
  background-color: #fff;
}

.button-white-2 {
  border: none;
  background-color: #fff;
}

.button-white-3 {
  border: none;
  background-color: #fff;
}

.button-white-4 {
  border: none;
  background-color: #fff;
}

.button-white-5 {
  border: none;
  background-color: #fff;
}

.button-white-6 {
  border: none;
  background-color: #fff;
}

.button-white-7 {
  border: none;
  background-color: #fff;
}

.button-white-8 {
  border: none;
  background-color: #fff;
}

.button-red-1 {
  border: none;
  background-color: #ff220f;
}

.button-red-2 {
  border: none;
  background-color: #ff220f;
}

.button-red-3 {
  border: none;
  background-color: #ff220f;
}

.button-red-4 {
  border: none;
  background-color: #ff220f;
}

.button-red-5 {
  border: none;
  background-color: #ff220f;
}

.button-red-6 {
  border: none;
  background-color: #ff220f;
}

.button-red-7 {
  border: none;
  background-color: #ff220f;
}

.button-red-8 {
  border: none;
  background-color: #ff220f;
}

.button-rounded-1 {
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
}

.button-rounded-2 {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.button-rounded-3 {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.button-rounded-4 {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.button-rounded-5 {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.button-rounded-6 {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.button-rounded-7 {
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}

.button-rounded-8 {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

input[type=text], input[type=password] {
  border: 1px solid black;
  width: 55%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

textarea {
  border: 1px solid black;
  width: 55%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

/*# sourceMappingURL=styles.css.map */
