@import "./container";

header {
  @include container();
}

header.header-large {
  padding-top: 40%;
}

header.header-medium {
  padding-top: 25%;
}

header.header-small {
  padding-top: 15%;
}

header.header-tiny {
  padding-top: 10%;
}

.header-content > h1 {
  line-height: 1;
}

.header-content > h2 {
  line-height: 0;
}

@media screen and (max-width: 750px) {
  header.header-large {
    padding-top: 100%;
  }
}