@import "../components/button";

.form {

}

input[type=text] > .input-text, input[type=password] > .input-password {
  border: 1px solid $secondary;
  width: 55%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

textarea > .textarea {
  border: 1px solid $secondary;
  width: 55%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}