body {
  font-family: $font-family;
  font-size: 100%;
}

@each $size in $heading-sizes {
  $heading-no: index($heading-sizes, $size);
  h#{$heading-no} {
    font-size: $size;
  }
}

@each $size in $heading-class-sizes {
  $heading-no: index($heading-class-sizes, $size);
  .heading-size-#{$heading-no} {
    font-size: $size;
  }
}