body {
  font-family: $font-family;
}

@each $size in $heading-sizes {
  $heading-no: index($heading-sizes, $size);
  h#{$heading-no} {
    font-size: $size;
  }
}

@each $size in $heading-class-sizes {
  $heading-no: index($heading-class-sizes, $size);
  .heading-size-#{$heading-no} {
    font-size: $size;
  }
}

@media screen and (max-width: 756px) {
  @each $size in $heading-sizes {
    $heading-no: index($heading-sizes, $size);
    h#{$heading-no} {
      font-size: $size*$tablet-scale-factor;
    }
  }
}

@media screen and (max-width: 512px) {
  @each $size in $heading-sizes {
    $heading-no: index($heading-sizes, $size);
    h#{$heading-no} {
      font-size: $size*$mobile-scale-factor;
    }
  }
}
