@import "../colours/colours";

.button {
  background: $primary;
  box-shadow: none;
  border: none;
}

.button-small {
  @extend .button;
  padding: 8px 16px;
}

.button-medium {
  @extend .button;
  padding: 16px;
}

.button-large {
  @extend .button;
  padding: 32px;
}