.button {
  background: $secondary;
  color: $white;
  border: none;
}

@for $padding from 1 through 8 {
  .button-#{$padding} {
    $x: $padding*2;
    $y: $x * $button-aspect-ratio;
    @extend .button;
    padding: #{$y}px #{$x}px;
  }
}

@each $colour, $value in $colours {
  @for $padding from 1 through 8 {
    .button-#{$colour}-#{$padding} {
      border: none;
      background-color: $value;
    }
  }
}

@for $radius from 1 through 8 {
  .button-rounded-#{$radius} {
    -webkit-border-radius: #{$radius}px;
    -moz-border-radius: #{$radius}px;
    border-radius: #{$radius}px;
  }
}