.button {
  background: $secondary;
  color: $white;
  border: none;
}

@for $padding from 1 through 8 {
  .button-#{$padding} {
    @extend .button;
    padding: #{$padding*2}px #{$padding*4}px;
  }
}

@each $colour, $value in $colours {
  @for $padding from 1 through 8 {
    .button-#{$colour}-#{$padding} {
      border: none;
      background-color: $value;
    }
  }
}