@import "../colours/variables";

nav {
  background-color: $secondary;
  position: sticky;
  padding: 10px 20px;
}

nav > ul {
  list-style-type: none;
}

nav > ul > li {
  padding: 10px 7.5px;
  display: inline;
  color: $primary;
}

@media screen and(max-width: 700px) {
  nav {
    padding: 20px 0;
  }
  nav > ul > li {
    width: 100%;
    display: block;
  }
}