@import "../colours/variables";

.navbar {
  background-color: $secondary;
  position: sticky;
  padding: 10px 20px;
  ul {
    list-style-type: none;
  }
  ul > li {
    padding: 10px 7.5px;
    display: inline;
    color: $primary;
  }
}

@media screen and(max-width: 700px) {
  .navbar {
    padding: 20px 0;
    ul > li {
      width: 100%;
      display: block;
    }
  }
}