.navbar {
  background-color: $secondary;
  padding: 10px 20px;
  ul {
    list-style-type: none;
  }
  ul > li {
    padding: 10px 7.5px;
    display: inline;
    color: $primary;
  }
  li > a, .navbar-link {
    color: $primary;
    text-decoration: none;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
  }
  li > a:hover {
    color: $primary;
    font-stretch: expanded;
  }
  li > a:visited {
    @extend .navbar-link
  }
}

@media screen and(max-width: 700px) {
  .navbar {
    padding: 20px 0;
    ul > li {
      width: 100%;
      display: block;
    }
  }
}

.navbar-sticky {
  @extend .navbar;
  position: sticky;
  top: 0;
}