/*
TYPOGRAPHY
============
*/
$heading-sizes: 128px 64px 48px 32px 24px 16px;
$font-family: "Helvetica Neue", Helvetica, sans-serif;
$tablet-scale-factor: 0.8;
$mobile-scale-factor: 0.5;
/*
COLOURS
============
*/
$primary: white;
$secondary: black;
$pink: rgba(237, 28, 69, 0.85);
$blue: #1269ff;
$orange: #f78432;
$white: #fff;
$colours: ('primary': $primary, 'secondary': $secondary, 'pink': $pink, 'blue': $blue, 'orange': $orange, 'white': $white);
/*
LAYOUT
============
*/
$padding-left: 15%;
