@import "./variables";

.pink {
  background: $pink !important;
}

.blue {
  background: $blue !important;
}

.orange {
  background: $orange !important;
}

.text-white {
  color: $white !important;
}